@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-500: hsl(322, 100%, 66%);
  --color-primary-300: hsl(321, 100%, 78%);
  --color-dark: hsl(192, 100%, 9%);
  --color-light: hsl(207, 100%, 98%);
  --color-error: hsl(0, 100%, 63%);
}

@layer utilities {
  button {
    @apply text-lg text-nowrap border-1 rounded-full cursor-pointer sm:text-base lg:text-xl;
  }

  .btn--primary {
    @apply w-min px-10 py-2 m-auto mt-4 text-light
    bg-primary-500 -outline-offset-5 hover:bg-primary-300
    focus-visible:outline-light focus-visible:outline-2;
  }

  .btn--outline {
    @apply text-sm px-6 py-1.5 text-primary-500 outline-0 hover:text-primary-300 focus-visible:bg-primary-500
     focus-visible:text-light lg:text-lg;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  @apply container text-dark px-4 m-auto sm:mt-5;
}

main {
  @apply w-[90%] m-auto;
}

h1,
h2,
h3,
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Header */
header {
  @apply flex justify-between items-center gap-4 py-5;
}

header img {
  @apply w-35 object-contain sm:w-50;
}

/* Hero Section */
section.hero {
  @apply text-center lg:mt-4;
}

section.hero .content {
  @apply flex flex-col justify-center gap-6 m-auto my-16 
         sm:px-4 sm:my-22 md:gap-8 lg:my-26;
}

section.hero h1 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

section.hero p {
  @apply text-sm font-medium max-w-lg m-auto md:text-base;
}

section.hero img {
  @apply w-[90%] max-w-xs m-auto md:max-w-md lg:max-w-2xl;
}

section.achievements {
  @apply flex flex-col justify-center items-center flex-wrap gap-20 
         text-sm text-center w-[90%] m-auto my-30 sm:flex-row sm:justify-evenly lg:my-34;
}

section.achievements .achievement {
  @apply flex flex-col gap-3 lg:gap-4;
}

section.achievements .icon {
  @apply w-6 lg:w-8;
}

section.achievements .title {
  @apply block text-5xl lg:text-6xl;
}

section.achievements .label {
  @apply opacity-70;
}
