@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-500: hsl(322, 100%, 66%);
  --color-primary-300: hsl(321, 100%, 78%);
  --color-dark: hsl(192, 100%, 9%);
  --color-light: hsl(207, 100%, 98%);
  --color-error: hsl(0, 100%, 63%);
}

@layer utilities {
  button {
    @apply text-lg text-nowrap rounded-full cursor-pointer sm:text-base lg:text-xl;
  }

  .btn--primary {
    @apply w-min px-10 py-2 mx-auto mt-4 text-light
    bg-primary-500 -outline-offset-4 hover:bg-primary-300
    focus-visible:outline-light focus-visible:outline-2
    active:bg-primary-300 hover:active:bg-primary-500;
  }

  .btn--outline {
    @apply text-sm px-6 py-1.5 border-1 text-primary-500 outline-0
    hover:text-primary-300 focus-visible:bg-primary-500
    focus-visible:text-light lg:text-lg
    active:text-primary-300 hover:active:text-primary-500;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  @apply text-dark sm:mt-5;
}

main section:not(.features) {
  @apply container w-[90%] px-4 mx-auto;
}

h1,
h2,
h3,
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Header */
header {
  @apply flex justify-between items-center gap-4 container px-4 py-5 mx-auto;
}

header img {
  @apply w-35 object-contain sm:w-50;
}

/* Hero Section */
section.hero {
  @apply text-center lg:mt-4;
}

section.hero .content {
  @apply flex flex-col justify-center gap-6 mx-auto my-16 
         sm:px-4 sm:my-22 md:gap-8 lg:my-26;
}

section.hero h1 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

section.hero p {
  @apply text-sm font-medium max-w-lg mx-auto md:text-base;
}

section.hero img {
  @apply w-[90%] max-w-xl mx-auto md:max-w-2xl;
}

/* Achievements Section */
section.achievements {
  @apply flex flex-col justify-center items-center flex-wrap gap-30 
         text-sm text-center w-[90%] mx-auto my-30 
         sm:flex-row sm:justify-evenly md:mt-40 md:mb-60 lg:mt-50 lg:mb-70;
}

section.achievements .achievement {
  @apply flex flex-col gap-3 lg:gap-4;
}

section.achievements .icon {
  @apply w-6 lg:w-8;
}

section.achievements .title {
  @apply block text-5xl lg:text-6xl;
}

section.achievements .label {
  @apply opacity-70;
}

/* Features Section */
section.features {
  @apply text-center w-full p-0 mt-50 lg:text-left;
}

section.features .feature.reverse {
  @apply relative bg-[#f5faff];
}

section.features .feature.reverse::before,
section.features .feature.reverse::after {
  content: "";

  @apply absolute left-0 w-full;
}

section.features .feature.reverse:nth-child(1)::before {
  background: url("/assets/bg-section-top-mobile-1.svg") no-repeat;
  background-size: 100% 112px;

  @apply -top-[111px] h-[112px];
}

section.features .feature.reverse:nth-child(1)::after {
  background: url("/assets/bg-section-bottom-mobile-1.svg") no-repeat;
  background-size: 100% 52px;

  @apply top-full h-[52px];
}

section.features .feature.reverse:nth-child(3)::before {
  background: url("/assets/bg-section-top-mobile-2.svg") no-repeat;
  background-size: 100% 103px;

  @apply -top-[102px] h-[103px];
}

section.features .feature.reverse:nth-child(3)::after {
  background: url("/assets/bg-section-bottom-mobile-2.svg") no-repeat;
  background-size: 100% 101px;

  @apply top-full h-[101px];
}

@media (width >= 64rem) {
  section.features .feature.reverse:nth-child(1)::before {
    background: url("/assets/bg-section-top-desktop-1.svg") no-repeat;
    background-size: 100% 165px;

    @apply -top-[164px] h-[165px];
  }

  section.features .feature.reverse:nth-child(1)::after {
    background: url("/assets/bg-section-bottom-desktop-1.svg") no-repeat;
    background-size: 100% 139px;

    @apply top-full h-[139px];
  }

  section.features .feature.reverse:nth-child(3)::before {
    background: url("/assets/bg-section-top-desktop-2.svg") no-repeat;
    background-size: 100% 156px;

    @apply -top-[155px] h-[156px];
  }

  section.features .feature.reverse:nth-child(3)::after {
    background: url("/assets/bg-section-bottom-desktop-2.svg") no-repeat;
    background-size: 100% 139px;

    @apply top-full h-[139px];
  }
}

section.features .feature .container {
  @apply flex flex-col justify-center items-center gap-20 w-[90%] px-4 py-15 my-30 mx-auto
         md:gap-30 lg:flex-row lg:gap-40 lg:py-25;
}

section.features .feature.reverse .container {
  @apply lg:flex-row-reverse;
}

section.features .feature:not(.reverse) .container {
  @apply my-50;
}

section.features .feature img {
  @apply w-[90%] max-w-sm md:max-w-md lg:w-[50%] lg:max-w-lg;
}

section.features .feature h2 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

section.features .feature p {
  @apply max-w-xl mt-6 md:text-xl lg:text-2xl lg:mt-10;
}

/* Get Start Section */
section.get-started {
  @apply text-center pt-20 pb-40 lg:pt-40;
}

section.get-started h2 {
  @apply text-2xl mb-6 md:text-3xl lg:text-4xl lg:mb-8;
}

/* Footer */
footer {
  @apply relative p-8 mt-[53px] text-light bg-dark md:mt-[158px];
}

footer::before {
  content: "";
  background: url("/assets/bg-footer-top-mobile.svg") no-repeat;
  background-size: 100% 53px;

  @apply absolute left-0 -top-[52px] w-full h-[53px];
}

@media (width >= 64rem) {
  footer::before {
    background: url("/assets/bg-footer-top-mobile.svg") no-repeat;
    background-size: 100% 158px;

    @apply -top-[157px] h-[158px];
  }
}

footer .container {
  @apply flex flex-col justify-between gap-x-4 gap-y-30 mx-auto my-10 
   md:flex-row md:my-5 lg:w-[90%];
}

footer p {
  @apply text-sm max-w-95 lg:text-base;
}

footer .info,
footer .news-letter {
  @apply flex flex-col gap-8;
}

footer .info {
  @apply md:-order-1;
}

footer .info .Logo {
  @apply w-48 lg:w-56;
}

footer .contact {
  @apply grid gap-4;
}

footer .contact .contact-item {
  @apply flex items-center gap-4;
}

footer .social-plugins {
  @apply flex gap-4 mt-6;
}

footer .social-plugins a {
  @apply flex size-9 text-light transition-colors md:size-10;
}

footer .social-plugins .facebook {
  @apply hover:text-[#1877F2];
}

footer .social-plugins .instagram {
  @apply p-1 hover:text-[#E1306C];
}

footer .social-plugins .twitter {
  @apply hover:text-[#03A9F4];
}

footer .social-plugins svg {
  @apply size-full;
}

footer .news-letter h2 {
  @apply text-2xl uppercase lg:text-3xl;
}

footer .news-letter .form {
  @apply flex flex-wrap justify-end gap-3 max-w-85 lg:flex-nowrap
  lg:gap-6 lg:w-100 lg:max-w-none xl:w-120;
}

footer .news-letter.error .form {
  @apply gap-y-6;
}

footer .news-letter .input {
  @apply relative w-full;
}

footer .news-letter input {
  @apply w-full text-dark px-4 py-2 rounded-sm outline-primary-500 bg-light lg:flex-2/3;
}

footer .news-letter.error input {
  @apply outline-2 -outline-offset-3 outline-error;
}

footer .news-letter span.error {
  @apply absolute left-0 top-full hidden text-sm w-full text-error;
}

footer .news-letter.error span.error {
  @apply inline;
}

footer .news-letter button {
  @apply text-base m-0 rounded-sm lg:flex-1/3;
}
